section {
  display: flex; }
  section div:nth-child(1) {
    width: calc(100% * 2/14); }
  section div:nth-child(2) {
    width: calc(100% * 4/14);
    background: rgba(0, 0, 255, 0.25); }
  section div:nth-child(3) {
    width: calc(100% * 8/14);
    background: rgba(0, 0, 255, 0.5); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgba(0, 0, 255, 0.05); }

:root {
  font-family: sans-serif;
  padding: 30px; }
